name: Deploy EC2 Instance

on:
  workflow_dispatch:
    inputs:
      custom_ami_version:
        description: 'Custom AMI version to deploy'
        required: true
        type: string

env:
  TF_CLOUD_ORGANIZATION: "cloudwithben-org"
  TF_TOKEN_app_terraform_io: "${{ secrets.TF_API_TOKEN }}"

jobs:
  terraform:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    defaults:
      run:
        working-directory: ./terraform
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -var="custom_ami_version=${{ github.event.inputs.custom_ami_version }}" -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan